<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">

					<div class="container text-center">
						<img class="profile_picture" style="height: 200px; width: 210px;"
							alt="" th:src="@{'/img/'+${user.imageUrl}}" src="">
					</div>

					<h1 class="text-center mt-3" th:text="${user.name}"></h1>
					<table class="table text-center">
						<thead>
							<tr>
								<th scope="col">#USER-ID</th>
								<th scope="col">SCM<span th:text="${user.id}"></span></th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${user.email}"></span></td>

							</tr>


							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>

							</tr>

							<tr>
								<th scope="row">Account-Active</th>
								<td><span th:text="${user.enabled}"></span></td>

							</tr>

							<tr>
								<th scope="row">About You</th>
								<td><span th:text="${user.about}"></span></td>

							</tr>

						</tbody>
					</table>



					<div class="container text">
						<button th:onclick="|deleteContact(${user.id})|"
							class="btn btn-info btn-block">DELETE</button>

						<button th:onclick="|updateContact(${user.id})|"
							class="btn btn-info btn-block">UPDATE</button>



					</div>

				</div>



			</div>
		</div>

	</section>

</body>
</html>