<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				
				<!-- Search -->
				<div class="search-container my-3">
				
				<input type="text" onkeyup="search();" id="search-input" class="form-control" placeholder="Search Your Contact...">
				
				<div class="search-result">
				
				
				</div>
				
				
				
				</div>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contacts}">
							<th th:text="${'#SCM'+c.cId}"></th>
							<td><img class="profile_picture" alt=""
								th:src="@{'/img/'+${c.image}}" src=""> <span
								th:text="${c.name}"></span></td>

							<td><a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">

									<span th:text="${c.email}"></span>
							</a></td>

							<td th:text="${c.phone}"></td>
							
							
							<td>
							
							<a href="#" th:onclick="|deleteContact(${c.cId})|"
								class="btn btn-danger btn-sm ml-2"><i class="fas fa-trash"></i></a>

								<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="ml-5">
									<button type="submit" class="btn btn-success btn-sm">
										<i class="fas fa-edit"></i>
									</button>
								</form>
								
							</td>
						
						</tr>
					</tbody>
				</table>

				<!-- Pagination -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">

						<li th:if="${currentPage!=0}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>

						<li th:classappend="${currentPage==i-1? 'active' : ''}"
							th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
							<a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a>
						</li>



						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>

					</ul>
				</nav>

			</div>


		</div>
	</section>

</body>
</html>