<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	 <section class="cal d-flex justify-content-center align-items-center">
	   <div class="text-center">
	    <h1 class=" font-weight-bold">Smart Contact Manager</h1>
	    <p>
	      Starting add your contact on cloud....
	    </p>
	    
	    <a th:href="@{/user/add-contact}" class="btn btn-primary btn-lg text-white">Add New Contact</a>
	   </div>
	   
	   <script>
	  $(document).ready(()=>
	  {
		  $(".item").removeClass("active"); 
		  $("#home-link").addClass("active");
	  });
	  
	   </script>
	</section>

</body>
</html>