<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
<section>

<h1>This is New about page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quam voluptatibus sapiente accusamus aperiam reiciendis explicabo enim totam molestias iure a incidunt vitae nihil illo voluptatum ullam architecto saepe ipsum?</p>
</section>

</body>
</html>