<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
<section>

<h1>This is Contact page</h1>

<p>Yeti‘s contact us page stands out for several reasons.

First, they offer a beautiful (and on-brand) photo background. It is striking without drawing away from the copy.

The copy is a bit cheeky, “While we’re good with smoke signals, there are simpler ways for us to get in touch.”</p>
</section>

</body>
</html>