<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>

<!-- <link rel="stylesheet" href=""  th:href="@{/css/mystyle.css}"/> -->
<link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<img src=""   class="rounded float-start" th:src="@{/images/shruti.jpg}" alt=""></img>
		<h1>Adding CSS,Javscript and Images in Thymeleaf</h1>



		<p>A paragraph is a series of related sentences developing a
			central idea, called the topic. Try to think about paragraphs in
			terms of thematic unity: a paragraph is a sentence or a group of
			sentences that supports one central, unified idea. Paragraphs add one
			idea at a time to your broader argument.</p>
	</div>
	<script src="" th:src="@{/js/bootstrap.min.js}"></script>

	<!--   <script src="" th:src="@{/js/myjs.js}"></script> -->

</body>
</html>